$color-gray-light-1       : #CECECE;
$color-gray-light-2       : #808080;
$color-gray-dark-1       : #3A3A3A;
$color-gray-dark-2       : #181818;

$color-purple-light-1 : #998CB5;
$color-purple-light-2 : #614C8E;
$color-purple-light-3 :#473079;
$color-purple-dark-1  : #281453;
$color-purple-dark-2  : #100033;

$color-alert-1  : #9F0000;
$color-caution-1  : #DD7417;
