.common_panel {
    background-color: $color-gray-dark-1;
    border-radius: 3px;
    display: inline-block;
    color: $color-gray-light-1;
    font-size: 18px;
    padding: 16px 16px;
    text-decoration: none;
    border: 0px;
}
