#dragDropArea {
    background-color: $color-gray-dark-1;
    margin-bottom: 10px;
    padding: 10px;
    border: $color-gray-light-1 dashed 5px;
    min-height: 200px;
    text-align: center;
}
#dragDropArea p {
    color: $color-gray-light-1;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4em;
}
#dragDropArea .drag-drop-buttons {
    margin-top: 20px;
    font-size: 12px;
    font-size: 1.2em;
}
.drag-drop-buttons input {
    margin: auto;
}
